h1{
 text-align: center;
 font-family: 'Content';
 padding-top: 70px;
 font-size: 58px;
 margin-block-start: 0em;
 margin-block-end: 0em;
 color: aliceblue;
}
h2, h3, .parHeader{
 text-align: center;
 font-family: serif;
 font-size: 18px;
 font-style: italic;
}

.paragraph{
 text-align: justify;
 margin-left: auto;
 margin-right: auto;
 font-size: 16px;
 width: 100%;
 min-width:300px;
 max-width:600px;
}


.mainHeader {
 background-image: url("../images/top-banner.png");
 height: 200px;
 position: relative;
 margin-bottom: 35px;
}

#imageBanner {
   width: 100%;
}
